.kadence-blocks-panel-button {
	border-top: 1px solid #cbd5e0;
	text-align: center;
}
.kadence-blocks-panel-button .kadence-blocks-panel-button__button.components-button {
	width: 100%;
	padding: 0 16px;
	height: 44px;
}
.kadence-blocks-panel-button .kadence-blocks-panel-button__button.components-button:hover {
	background: rgba(237, 242, 247, 0.4);
}
